<ion-header>
  <ion-toolbar color="dark">
    <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="home"> 
    <div class="imagen_registro"> 
      <img src="../../assets/img/crea.png" alt="registro" class="imagen_responsiva">
    </div>
    <form>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [clearOnEdit]="true" type="text" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [clearOnEdit]="true" type="text" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha Nacimiento</ion-label>
        <ion-input [clearOnEdit]="true" type="date" [(ngModel)]="fechaNacimiento"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Password</ion-label>
        <ion-input type="password" [(ngModel)]="confpassword"></ion-input>
      </ion-item>

      <ion-button expand="full" color="light" shape="round" (click)="enviarRegistro()">CREAR MI CUENTA</ion-button>
      <ion-button (click)="home()" id type="submit" color="light" shape="round">volver</ion-button>
      
    </form>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title>Conoce nuestras redes</ion-title>
    <ion-segment [scrollable]="true" class="horizontal-icons">                
      <a href="#">
        <ion-segment-button value="instagram">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-segment-button>
      </a>       
      <a href="#">
        <ion-segment-button value="facebook">
          <ion-icon name="logo-facebook"></ion-icon> 
        </ion-segment-button>
      </a> 
      <a href="mapa">
        <ion-segment-button value="camera"><ion-icon name="camera-outline">
        </ion-icon></ion-segment-button>
      </a>
      <a href="mapa">
        <ion-segment-button value="map">
         <ion-icon name="map-outline" ></ion-icon>
        </ion-segment-button>
      </a>
      <a href="#">
        <ion-segment-button value="finger-print">
          <ion-icon name="finger-print-outline" ></ion-icon>
        </ion-segment-button>
      </a>   
    </ion-segment>
  </ion-toolbar>
</ion-footer>                

                  

 