<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="producto.nombre" formControlName="prod_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="producto.precio" formControlName="prod_price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="producto.descripcion" formControlName="prod_desc"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="producto.cantidad" formControlName="prod_cantidad"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block"
      [disabled]="!productForm.valid">Submit</ion-button>
  </form>
</ion-content>


<ion-footer>
  <ion-toolbar color ="dark">
    <ion-title>Conoce nuestras redes</ion-title>  
    <ion-segment [scrollable]="true" value="heart">       
      <ion-segment-button value="heart">
        <ion-icon name="heart"></ion-icon>
      </ion-segment-button>        
      <ion-segment-button value="star">
        <ion-icon name="star"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="call">
        <ion-icon name="call"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="globe">
        <ion-icon name="globe"></ion-icon>  
          </ion-segment-button>        
      <ion-segment-button value="person">
        <ion-icon name="person"></ion-icon>
      </ion-segment-button>
    </ion-segment>       
  </ion-toolbar>
</ion-footer>

