<ion-header>
  <ion-toolbar color="dark">
    <ion-progress-bar type="indeterminate" ></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recupera tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
   
  <ion-card id="registro"> 
    <div class="imagen_forgot"> 
      <img src="../../assets/img/recupera.png" alt="forgot"  class="imagen_responsiva">
   </div>

      <form>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button (click)="enviarCorreo()" type="submit" color="light" expand="block" shape="round">Enviar</ion-button>
            <ion-button [routerLink]="['/home']" id type="submit" color="light" shape="round">volver</ion-button>
          </ion-col>           
        </ion-row>
          <ion-col>    
            <h3> Proporcione el nombre de usuario o la dirección de correo electrónico que utilizó al registrarse</h3>    
          </ion-col>    
        <ion-row>
          <ion-col>  
            <h3> Proporcione el nombre de usuario o la dirección de correo electrónico que utilizó al registrarse</h3>    
            <ion-button (click)="home()"id type="submit" color="light" shape="round">volver</ion-button>
          </ion-col>
      </ion-row>
        
      </form>
  </ion-card>
  </ion-content>

  <ion-footer class="footer">
    <ion-toolbar color ="dark">
      <ion-title>Conoce nuestras redes</ion-title>  
      <ion-segment [scrollable]="true" value="heart">       
        <ion-segment-button value="heart">
          <ion-icon name="heart"></ion-icon>
        </ion-segment-button>        
        <ion-segment-button value="star">
          <ion-icon name="star"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="call">
          <ion-icon name="call"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="globe">
          <ion-icon name="globe"></ion-icon>  
            </ion-segment-button>        
        <ion-segment-button value="person">
          <ion-icon name="person"></ion-icon>
        </ion-segment-button>
      </ion-segment>       
    </ion-toolbar>
  </ion-footer>